[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = git@github.com:g-truc/glm.git
[submodule "third_party/meshoptimizer"]
	path = third_party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third_party/OffsetAllocator"]
	path = third_party/OffsetAllocator
	url = git@github.com:sebbbi/OffsetAllocator.git
[submodule "third_party/FastNoise2"]
	path = third_party/FastNoise2
	url = git@github.com:Auburn/FastNoise2.git
[submodule "third_party/thread-pool"]
	path = third_party/thread-pool
	url = git@github.com:bshoshany/thread-pool.git
[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
[submodule "third_party/volk"]
	path = third_party/volk
	url = git@github.com:zeux/volk.git
[submodule "third_party/VulkanMemoryAllocator"]
	path = third_party/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
